include ../input/input.pug

mixin incut-form(data)
  .incut-form-wrapper(data-form=`${data.form}`)
    form.incut-form.invalid(data-validate-form="" data-form-body="" data-show-thanks)
      if(data.formTitle)
        .incut-form__title=data.formTitle
      span.error-text.error-text--backend(data-error-text="backend")
      .incut-form__fields(class=data.class)
        +input({
          temp: "name",
          label: 'Ваше имя *',
        })
        +input({
          temp: "phone",
          mask: true,
        })&attributes(attributes)(data-mask-tel)
        +input({
          temp: "email",
        })
        if(data.organization)
          +input({
            temp: "organization",
          })
        .inputholder.form__inputholder
          label.inputholder__label(data-default-label) Расскажите о проекте
          textarea.inputholder__textarea(data-form-field)(data-textarea)
        if(data.file)
          .fileupload(name-nameinput="file")(data-acceptedfiles="image/*")(data-minfiles="1")(data-maxfiles="1")(data-fileupload)
            .fileupload__button(data-fileupload-button)
              span Прикрепить файл

        if(data.questionForm)
          .incut-form__bottom
            .buttonholder.button-wrapper(data-form-trigger="")
              button.button.button--text-white.incut-form__submit(disabled="true" data-form-button="")
                span=data.buttonText
            span.incut-form__policy Отправляя данную форму, я соглашаюсь на
              a(href="/policy.html")(target="_blank")  обработку персональных данных
        else
          span.incut-form__policy Отправляя данную форму, я соглашаюсь на
            a(href="/policy.html")(target="_blank")  обработку персональных данных
      if(!data.questionForm)
        .buttonholder.button-wrapper(data-form-trigger="")
          button.button.button--text-white.incut-form__submit(disabled="true" data-form-button="")
            span=data.buttonText
    .form__thanks(data-form-thanks="")
      if(data.order)
        p.form__thanks-text Номер заказа No2738947324
        p.form__thanks-text В течении суток с вами свяжется менеджер
        a(href="/catalog").button.button--text-white
          span Вернуться на главную
      else
        p.form__thanks-title=data.thanksTitle
        p.form__thanks-text=data.thanksText
        if(data.thanksButton)
          button.button.button--text-white.form__thanks-button(data-modal-close="question")
            span Закрыть
