mixin product-card(data)
  a(href="").product-card(style=`background-image: url("../../img/image-content/${data.background}")`)&attributes(attributes)
    .product-card__content
      if(data.category)
        .product-card__category=data.category
      .product-card__name(class=data.nameClass)=data.name
      span.product-card__more Подробнее
    .product-card__img-wrapper
      img.product-card__img(src=`../../img/image-content/${data.image}` alt=`${data.name}`)
